* {
    box-sizing: border-box;
}

body {
    background-image: url("images/1-removebg-preview.png"), url("images/2-removebg-preview.png");;
    background-repeat: no-repeat, no-repeat;
    background-size: 250px;
    background-position: left top, right bottom;
}   

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;

}
.adamaImg {
    display: block;
    margin: 0px auto;
}

.entry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#info1, #info2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
    transition: 0.3s;
    width: 40%;
}

#info3 {
    border-style: solid;
    border-color: black;display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
    transition: 0.3s;
    width: 40%;

}
.coloumn {
    flex: 33.33%;
    padding: 5px;
}
.row{
    display: flex;
}

/*Style for quiz*/
