* {
    box-sizing: border-box;
    }

.headerinfo{
    background-color: #0A122A;
    padding: 30px;
    text-align: center;
}

.titleinfo{
    color: #ffff;
    font-style: 'Cormorant Garamond', serif;
}

.linksnavbar{
    font-style: 'Cormorant Garamond', serif;
    font-size: medium;
    color: #d17100;
    text-decoration: none;
    font-weight: 100px;
    margin: 5px;
}

body{
    margin: 0;
    padding: 2rem;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

body h1{
    font-weight: 600;
}

body hr{
    width: 50px;
    border: none;
    border-bottom: 1px solid rgba(119, 119, 119, 0.25);
}

.container p{
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
}

.container p:first-child::first-letter{
    color: #d17100;
    font-weight: bold;
    font-size: 70px;
    float: left;
    line-height: 60px;
    padding-right: 8px;
    margin-top: -3px;
}

.history{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

@media screen and (max-width:600px) {
    .container{
        width: 100%;
        padding: 1rem;
    }
}