


.imagesA {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .linkImages {
    content: "";
    clear: both;
    display: table;
  }

  footer {
    text-align: center;
    background-color: #26547C;
    color: white;
    padding: 15px;
}

@media all and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .headerinfo {
        background-color: #0A122A;
        padding: 80px;
        text-align: center;
    }
    .titleinfo {
        text-align: center;
        font-size: 35px;
        padding: 15px;
        color: white;
    }
    .linksnav {
        font-style: 'Cormorant Garamond', serif;
        font-size: medium;
        color: #FFFF;
        text-decoration: none;
        margin: 5px;
    }

    .opening {
        padding: 55px;
        margin: 20px;
    }

    .africaP {
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        font-family: 'Cormorant Garamond', serif;
    }

    .cards {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 15px;
        background-color: #d17100;
        width: 400px;
        height: 350px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .container {
     padding: 2px 16px;
     border-radius: 5px 5px 0 0;
    }

    .card_readmore {
        font-style: 'Cormorant Garamond', serif;
        font-size: 20px;
        padding: 15px;
        color: white;
    }

    .adaLink {
        text-decoration: none;
        color: white;
        font-style: bold;
        text-transform: uppercase;
    }
    .adaLink:hover {
        color: black;
        
    }



    /*images*/
    #adamaImgAf {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    #johnImgAf {
    width: 60%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    }

    #nelsonImgAf {
    width: 70%;
    border-radius: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    }

    footer {
        text-align: center;
        background-color: #26547C;
        color: white;
        padding: 15px;
    }
    
}